# Introduction in python 1 module

## What is Python ?

* General-Purpose Language**: Python is a versatile programming language used for a wide range of applications.
* High-Level Language**: Python is designed to be easy to read and write, with a syntax close to human language.
* Interpreted Language**: Python code is executed line by line, which makes debugging easier.
* Dynamically Typed**: Variable types are determined at runtime, not in advance.
* Open Source**: Python is free to use and distribute, with its source code available to the public.
* Extensive Libraries**: Python has a vast standard library and a large ecosystem of third-party libraries and frameworks.
* Cross-Platform**: Python can run on various operating systems, including Windows, macOS, and Linux.
* Strong Community Support**: Python has a large and active community, contributing to its development and offering support.
* Popular in Data Science**: Widely used for data analysis, machine learning, and scientific computing with libraries like NumPy, Pandas, and scikit-learn.
* Web Development**: Popular frameworks like Django and Flask make it a strong choice for building web applications.
* Automation and Scripting**: Commonly used for scripting to automate tasks and workflows.
* Object-Oriented**: Supports object-oriented programming (OOP) principles, allowing for modular and reusable code.
* Readable and Maintainable Code**: Emphasizes code readability, reducing the cost of program maintenance.
* Rapid Development**: Python's simplicity and ease of use allow for quick development and prototyping.

# Data types

* integer - 1,2,101,201
* Bolean - True, False
* string - alpha,alpha123,
* float - 2.5,1.04
* pwd to cheeck path

In [1]:
a = 10
print (a)

10

In [2]:
pwd

'C:\\Users\\prata\\Downloads'

In [3]:
print (a)

10

In [4]:
# Data types
type (a)

int

# float

In [5]:
b = 10.05
print(b)

10.05

In [6]:
type (b)

float

# BOLEAN

In [7]:
 c = True
 d = False
print (c,d)

True False

In [8]:
type (c)

bool

## Operations in Integer and Float
  * 1 ADD (+)
  * 2 SUB (-)
  * 3 MUL (*)
  * 4 DIV (/)
  * 5 floor(//)
  * 6 modulus(%)
  * 7 (power **)

In [8]:
print(a,b)
print("Addition of A & B ==", a + b)
print("Subtraction of A & B ==", b - a)
print("Multiplication of A & B ==",a * b)
print("Division of a & B ==", a / b)
print("floor Division of A & B ==", a//b)
print("modulus of A & B ==", a % 2)
print("modulus of A & B ==",a % 3)
print ("power of A by 2 ==", b ** 2)

10 10.05
Addition of A & B == 20.05
Subtraction of A & B == 0.05000000000000071
Multiplication of A & B == 100.5
Division of a & B == 0.9950248756218905
floor Division of A & B == 0.0
modulus of A & B == 0
modulus of A & B == 1
power of A by 2 == 101.00250000000001

### string

In [9]:
p = "Python Programing" 
print(p)

Python Programing

## Indexing---slicing and dicing the data

In [10]:
p = "Python "
print(p)

Python

In [11]:
p[0]

'P'

In [13]:
p[5]

'n'

## p[:]  syntax for accessing the data

#p[:] start and end

In [32]:
p[:]

'Python '

In [34]:
p[2:]

'thon '

In [36]:
p[:3]

'Pyt'

In [38]:
p[2:5]

'tho'

In [50]:
p ='python'
print(p)

python

In [51]:
p[0]

'p'

In [53]:
p[-6]

'p'

In [14]:
p[:]

'python'

In [15]:
p[1:]

'ython'

In [16]:
p[:-1]

'pytho'

In [17]:
p[1:-1]

'ytho'

In [18]:
p[2:-2]

'th'

In [19]:
p[3:-3]

''

In [20]:
p[2:-3]

't'

In [21]:
p[2:3]

't'

# methods in string

In [54]:
p

'python'

In [55]:
p.upper()

'PYTHON'

In [24]:
p.lower()

'python'

In [25]:
p.title() # only starting word in whole paragraph will change in caps letter

'Python'

In [26]:
p.capitalize() # it will only change starting word of leter

'Python'

In [29]:
p.swapcase() # all letter in caps accept start letter

'PYTHON'

In [58]:
"python language".split()

['python', 'language']

In [60]:
len(p)

6

In [61]:
len('python language')

15

In [34]:
p.index("t")

2

In [35]:
"python language".index('g')

10

In [62]:
"python language".find('u')

11

In [39]:
"python language".find('g',11,14)

13

In [66]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [85]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [1]:
pwd

'C:\\Users\\prata\\Downloads'

# 2 Module of Python

# Data structures

# 1.List - []
# 2.Tuple - ()
# 3.Dictonary - {:}
# 4.sets - {}

# List 
* 1.ordered in nature
* 2.list accept all data type(hetrogeneous)
* 3.Allows duplicates
* 4.mutable(changeable)

In [68]:
a = [1,2,3,4,5,'python','Test','True',12.55]
a

[1, 2, 3, 4, 5, 'python', 'Test', 'True', 12.55]

In [69]:
a[5] = 'list'
a

[1, 2, 3, 4, 5, 'list', 'Test', 'True', 12.55]

In [70]:
a.append('python')
a

[1, 2, 3, 4, 5, 'list', 'Test', 'True', 12.55, 'python']

In [53]:
a.pop()
a

[1, 2, 3, 4, 5, 'list', 'Test', 'True', 12.55]

# creating list in different ways

In [55]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [63]:
a =([1,2,3,4,5])
a

[1, 2, 3, 4, 5]

In [1]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [7]:
a1 = list(['a','b','c','d'])
a1

['a', 'b', 'c', 'd']

In [8]:
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

In [71]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [84]:
list(range(10,21))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [1]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [2]:
list([1,2,3])

[1, 2, 3]

In [ ]:
[::]# Start,End,interval

In [73]:
a = [1,2,3,4,5,'python','Test','True',12.55]
a

[1, 2, 3, 4, 5, 'python', 'Test', 'True', 12.55]

In [4]:
a[::]

[1, 2, 3, 4, 5, 'python', 'Test', 'True', 12.55]

In [5]:
a[:]

[1, 2, 3, 4, 5, 'python', 'Test', 'True', 12.55]

In [6]:
a[2:9:]

[3, 4, 5, 'python', 'Test', 'True', 12.55]

In [74]:
a[0:9:2]

[1, 3, 5, 'Test', 12.55]

In [9]:
# reverse the list
a[::-1]

[12.55, 'True', 'Test', 'python', 5, 4, 3, 2, 1]

In [10]:
a[:-1:]

[1, 2, 3, 4, 5, 'python', 'Test', 'True']

In [11]:
a[-1::]

[12.55]

# operation/ methods in list

In [86]:
a

[1, 2, 3, 4, 5, 'python', 'Test', 'True', 12.55]

In [104]:
a.append('gun')
a

[1,
 2,
 3,
 4,
 5,
 'python',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 45,
 56,
 'gun']

In [105]:
a.pop()
a

[1,
 2,
 3,
 4,
 5,
 'python',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 45,
 56]

In [106]:
a.extend(['run','gun',45,56])
a

[1,
 2,
 3,
 4,
 5,
 'python',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 45,
 56,
 'run',
 'gun',
 45,
 56]

In [107]:
a.append('go')
a

[1,
 2,
 3,
 4,
 5,
 'python',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 45,
 56,
 'run',
 'gun',
 45,
 56,
 'go']

In [108]:
a.pop()
a

[1,
 2,
 3,
 4,
 5,
 'python',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 45,
 56,
 'run',
 'gun',
 45,
 56]

In [109]:
a + ['ravi','turn',56]

[1,
 2,
 3,
 4,
 5,
 'python',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 45,
 56,
 'run',
 'gun',
 45,
 56,
 'ravi',
 'turn',
 56]

In [110]:
a.insert(6,"pratap")
a

[1,
 2,
 3,
 4,
 5,
 'python',
 'pratap',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 45,
 56,
 'run',
 'gun',
 45,
 56]

In [111]:
a

[1,
 2,
 3,
 4,
 5,
 'python',
 'pratap',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 45,
 56,
 'run',
 'gun',
 45,
 56]

In [124]:
a.remove(45)
a

[1,
 2,
 3,
 4,
 5,
 'python',
 'pratap',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 'gun']

In [129]:
a

[1,
 2,
 3,
 4,
 5,
 45,
 'python',
 'pratap',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 'gun']

In [130]:
a.append('python')
a

[1,
 2,
 3,
 4,
 5,
 45,
 'python',
 'pratap',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 'gun',
 'python']

In [131]:
a.pop()

'python'

In [126]:
a.insert(5,45)
a

[1,
 2,
 3,
 4,
 5,
 45,
 'python',
 'pratap',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 'gun']

In [133]:
a.index(45)

5

In [140]:
a.index('pratap')
a

[1,
 2,
 3,
 4,
 5,
 45,
 'python',
 'pratap',
 'pratap',
 'pratap',
 'Test',
 'True',
 12.55,
 'gun',
 'gun']

In [139]:
len(a)

15

In [32]:
a.pop(a.index(45,12))
a

[1, 2, 3, 4, 5, 45, 'python', 'Test', 'True', 12.55, 'go', 'python']

In [ ]:
# dir(list) to know the list function in list which is start without underscore

In [37]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [39]:
# shift + tab to know documentation of function
a.append(45)
a

[1, 2, 3, 4, 5, 45, 'python', 'Test', 'True', 12.55, 'go', 'python', 45]

In [41]:
a.extend([2,4,8])
a

[1,
 2,
 3,
 4,
 5,
 45,
 'python',
 'Test',
 'True',
 12.55,
 'go',
 'python',
 45,
 2,
 4,
 8]

In [45]:
a.count(8)

1

In [46]:
a.reverse()
a

[8,
 4,
 2,
 45,
 'python',
 'go',
 12.55,
 'True',
 'Test',
 'python',
 45,
 5,
 4,
 3,
 2,
 1]

In [47]:
b = [1,3,5,11,9,7]
b

[1, 3, 5, 11, 9, 7]

In [48]:
b.sort()
b

[1, 3, 5, 7, 9, 11]

In [49]:
b.sort(reverse = True)

b

[11, 9, 7, 5, 3, 1]

#  copy 
### deep copy & shallow copy

In [52]:
# shallow copy # value is assign to c = a if in c list value will update than in it will update in - a value also
c = a
c

[8,
 4,
 2,
 45,
 'python',
 'go',
 12.55,
 'True',
 'Test',
 'python',
 45,
 5,
 4,
 3,
 2,
 1]

In [54]:
c.remove('python')
c

[8, 4, 2, 45, 'go', 12.55, 'True', 'Test', 45, 5, 4, 3, 2, 1]

In [55]:
print(a)

[8, 4, 2, 45, 'go', 12.55, 'True', 'Test', 45, 5, 4, 3, 2, 1]

In [56]:
a

[8, 4, 2, 45, 'go', 12.55, 'True', 'Test', 45, 5, 4, 3, 2, 1]

In [ ]:
# deep copy
# in copy value will remain in original copy it wil change in only duplicate value

In [57]:
d = a.copy()
d

[8, 4, 2, 45, 'go', 12.55, 'True', 'Test', 45, 5, 4, 3, 2, 1]

In [58]:
d.pop()
d

[8, 4, 2, 45, 'go', 12.55, 'True', 'Test', 45, 5, 4, 3, 2]

In [59]:
a

[8, 4, 2, 45, 'go', 12.55, 'True', 'Test', 45, 5, 4, 3, 2, 1]

In [60]:
a.clear()
a

[]

In [61]:
del a

In [62]:
a

NameError: name 'a' is not defined

# Tuple () Brackets  & Paranthesis
 1.ordered in nature
 2.list accept all data type(hetrogeneous)
 3.Allows duplicates
 4.immutable(not changeable)

In [141]:
a = 1,2,3,4,5,'python','Test',False,12.55 # python take default to tuple
a

(1, 2, 3, 4, 5, 'python', 'Test', False, 12.55)

In [142]:
type(a)

tuple

In [143]:
len(a)

9

In [144]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [145]:
a.count(1)

1

In [146]:
a.index(5)

4

In [149]:
t = tuple([1,2,3,4,5])
t

(1, 2, 3, 4, 5)

In [151]:
type (t)

tuple

In [79]:
tuple(range(2,21,2))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [80]:
t[2]

3

In [81]:
t[-1]

5

# Dicitionaries {key : value}
 1.unordered in nature
 2.list accept all data type(hetrogeneous)
 3.Override duplicates
 4.mutable(changeable)

In [152]:
d = {'subject':'python','attendance':100,True:10,  1 : 2.33,   'attendance':105,'robin':24 }
d

{'subject': 'python', 'attendance': 105, True: 2.33, 'robin': 24}

In [153]:
d['subject'] ='java'
d

{'subject': 'java', 'attendance': 105, True: 2.33, 'robin': 24}

In [85]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [86]:
type(d)

dict

In [100]:
len(d)

4

In [103]:
d1 = [[1,2],['python',56]]
d1

[[1, 2], ['python', 56]]

In [104]:
td = dict(d1)
td

{1: 2, 'python': 56}

In [105]:
# methods in dict
d.keys()

dict_keys(['subject', 'attendance', True, 'robin'])

In [107]:
d.values()

dict_values(['java', 105, 2.33, 24])

In [108]:
d.items()

dict_items([('subject', 'java'), ('attendance', 105), (True, 2.33), ('robin', 24)])

In [109]:
d.get('subject')

'java'

 # 3 Module in Python  
 
 # sets -  { }
 
 1.unordered in nature
 2.does not allows boolean (hetrogeneous)
 3.Override duplicates
 4.mutable(changeable)

In [154]:
a = {1,1,2,3,4,5,"python",True,12.5,"java "}
a

{1, 12.5, 2, 3, 4, 5, 'java ', 'python'}

In [2]:
type(a)

set

In [3]:
len(a)

8

In [4]:
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [155]:
a.add("SQL")
a

{1, 12.5, 2, 3, 4, 5, 'SQL', 'java ', 'python'}

In [9]:
l = list("fantasy")
l

['f', 'a', 'n', 't', 'a', 's', 'y']

In [13]:
set(l)

{'a', 'f', 'n', 's', 't', 'y'}

In [156]:
a.add('gun')
a

{1, 12.5, 2, 3, 4, 5, 'SQL', 'gun', 'java ', 'python'}

In [157]:
a.update({8,9,"hamer"})
a

{1, 12.5, 2, 3, 4, 5, 8, 9, 'SQL', 'gun', 'hamer', 'java ', 'python'}

In [161]:
a.pop()
a

{12.5, 5, 8, 9, 'SQL', 'gun', 'hamer', 'java ', 'python'}

In [25]:
a.remove("SQL")
a

KeyError: 'SQL'

In [166]:
a

{12.5, 8, 9, 'hamer', 'java ', 'python'}

In [167]:
a.pop()
a

{12.5, 9, 'hamer', 'java ', 'python'}

In [29]:
a.remove('gun')
a

{12.5, 8, 9, 'hamer', 'python'}

In [169]:
a.discard('gun')
a

{12.5, 9, 'hamer', 'java ', 'python'}

In [31]:
s1 = {1,2,3,4,5}
s2 = {6,5,7,8,9}
print(s1,s2)

{1, 2, 3, 4, 5} {5, 6, 7, 8, 9}

In [32]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
s1.intersection(s2)

{5}

In [35]:
s1.difference(s2)

{1, 2, 3, 4}

In [36]:
s2.difference(s1)

{6, 7, 8, 9}

In [37]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 6, 7, 8, 9}

In [38]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# input and output with format

In [4]:
name = input ("what is your name: ")
age = input("what is your age: ")
sal  = input('what is your sal: ')

what is your name: Pratap Kumar Jaiswal
what is your age: 22
what is your sal: 30000

In [5]:
print(name,age,sal)

Pratap Kumar Jaiswal 22 30000

In [13]:
type(name),type(age),type(sal) # Default always input will take as string valve

(str, str, str)

In [14]:
name = input ("what is your name: ")
age = int(input("what is your age: "))
sal  = float(input('what is your sal: '))

what is your name: pratap
what is your age: 23
what is your sal: 34

In [15]:
print(name,age,sal)

pratap 23 34.0

In [17]:
type(name), type(age), type(sal)

(str, int, float)

In [9]:
name = input ("what is your name: ")
age = eval(input("what is your age: "))
sal  = eval(input('what is your sal: '))

what is your name: Pratap Kumar Jaiswal
what is your age: 22
what is your sal: 34.00

In [10]:
print(name,age,sal)

Pratap Kumar Jaiswal 22 34.0

In [11]:
type(name),type(age),type(sal)

(str, int, float)

In [12]:
name = input("plz supply name: ").split(",")

plz supply name: pratap Kumar Jaiswal

In [14]:
print(name)

['pratap Kumar Jaiswal']

In [31]:
print("welcome to python class, Pratap")

welcome to python class, Pratap

In [33]:
print(10+6-7*4)# BODMAS

-12

In [42]:
print("Name","of","the","person","pratap" ,sep ="-")

Name-of-the-person-pratap

In [43]:
print("Pratap")
print("jaiswal")

Pratap
jaiswal

In [44]:
print("Pratap", end = "/")
print("jaiswal")

Pratap/jaiswal

In [16]:
name = input ("what is your name: ")
age = eval(input("what is your age: "))
sal  = eval(input('what is your sal: '))

what is your name: Pratap Kumar Jaiswal
what is your age: 22
what is your sal: 2.3

In [17]:
print(f"{name} is a Data Analatics {sal} of in the  @ of {age}")

Pratap Kumar Jaiswal is a Data Analatics 2.3 of in the  @ of 22

In [18]:
print("{} is a Data Analatics {} of in the  @ of {}".format(name,sal,age))

Pratap Kumar Jaiswal is a Data Analatics 2.3 of in the  @ of 22

In [53]:
print(name, "is a Data Analatics",sal, " sal of in the age @ of", age)

Pratap Kumar Jaiswal is a Data Analatics 1.4  sal of in the age @ of 23

# Operators

# Arithmetics operators

In [55]:
a = 10
b= 20

In [56]:
print(a,b)
print("Addition of A & B ==", a + b)
print("Subtraction of A & B ==", b - a)
print("Multiplication of A & B ==",a * b)
print("Division of a & B ==", a / b)
print("floor Division of A & B ==", a//b)
print("modulus of A & B ==", a % 2)
print("modulus of A & B ==",a % 3)
print ("power of A by 2 ==", b ** 2)

10 20
Addition of A & B == 30
Subtraction of A & B == 10
Multiplication of A & B == 200
Division of a & B == 0.5
floor Division of A & B == 0
modulus of A & B == 0
modulus of A & B == 1
power of A by 2 == 400

# Assignment operators

In [19]:
a = 11
b = 20
c = a + b
c

31

In [20]:
c = c + 30
c

61

In [21]:
c += 20
c

81

In [22]:
c -= 20
c

61

In [23]:
c *= 2
c

122

In [24]:
c /= 12
c

10.166666666666666

In [25]:
c **= 2
c

103.3611111111111

# comparison operations

In [172]:
a,b

(11, 20)

In [19]:
a == 10

True

In [20]:
a == 15

False

In [21]:
b == 20

True

In [22]:
b == 25

False

In [174]:
a != 10

False

In [24]:
a != 20

True

In [28]:
print("greater than", a>5)
print("lesser than", a<5)
print("greater than or equal to", a>=5)
print("lesser than", a<=5)

greater than True
lesser than False
greater than or equal to True
lesser than False

In [176]:
x ="apple"
y ="apple"
print(x<=y)

True

# Boolean operators

In [3]:
# And | Or| Not

In [4]:
a = True
b = False

In [7]:
print(a and b)#Returns True if both statements are true
print(a or b)# Returns True if one of the statements is true
print (not b)#Reverse the result, returns False if the result is true

False
True
True

In [11]:
a= 2
b= 4
print(a >b and b<a)

False

# membership operator

In [178]:
l = list(range(11))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
5 in l

True

In [180]:
11 in l

False

In [182]:
11 not in l

True

# Conditionals

# if | elif | else

In [2]:
a = 10 
a

10

In [183]:
# After writing the condition end with colon (:)
if a > 5:


    
    print("A is greater than 5")

A is greater than 5

In [8]:
b = 5
if b > 5:
    print("B is greater than 5")
else:
    print("B is lesser than 5 ")

B is lesser than 5

In [188]:
b = eval(input("Enter the value: "))

if b > 5:
    print("B is greater than 5")
    
elif b<5:
    print("B is lesser than 5")

else:
    print("b is lesser than 5 ")

Enter the value: 5
b is lesser than 5

In [31]:
marks = int(input("Enter the Marks: ")) 
if marks > 95 and  marks <= 100:
    print("student passed with 'O' ")
elif marks > 90 and marks <= 95:
    print("student passed with A+ grade")
elif marks > 85 and marks <= 90:
    print("student passed with A grade")
elif marks > 80 and marks <= 85:
    print("student passed with B+ grade")
elif marks > 75 and marks <= 80:
    print("student passed with B  grade")
elif marks > 70 and marks <= 75:
    print("student passed with c grade")
else:
    print("student Fails")

Enter the Marks: 99
student passed with 'O'

In [41]:
# condition in group
attendence = eval(input("Enter your attendence in %: "))
marks = int(input("Enter your marks: "))

if (attendence > 75) and (marks > 95 and marks <= 100):
    print("Student passed with 'O' Grade")
elif(attendence > 70) and (marks > 90 and marks <= 95):
    print("Student passed with 'A+' ")
elif(attendence > 65) and (marks > 80 and marks <= 85):
    print("Student passed with 'A' ")
elif(attendence > 60) and (marks > 70 and marks <= 80):
    print("Student passed with 'B' ")
elif(attendence > 55) and (marks > 60 and marks <= 70):
    print("Student passed with 'C' ")
else:
    print("Student'Fails' ")

Enter your attendence in %: 52
Enter your marks: 75
Student'Fails'

# Module 4 in python

# Nested Condition

In [22]:
attendence = eval(input("Enter the attendence in per % : "))
marks = eval(input("Enter the obtains marks : "))


if attendence >= 75:
    if marks > 90:
        print("student passed with 'A' grade")
        
    elif marks >= 85:
         print("student passed with 'B' grade")
    elif marks > 80:
         print("student passed with 'C' grade")
            
    elif marks < 75 and marks > 35:
        print("student passed with 'D' grade")
else:
    print("student faill")

Enter the attendence in per % : 45
Enter the obtains marks : 98
student faill

In [48]:
attendence = eval(input("Enter the attendence in per % : "))
marks = eval(input("Enter the obtains marks : "))


if attendence >= 75 and marks > 90:
    print("student passed with 'A' grade")
elif attendence >= 75 and marks >= 85:
    print("student passed with 'B' grade")
elif attendence >= 75 and marks > 80:
    print("student passed with 'C' grade")
elif attendence >= 75 and (marks < 75 and marks > 35):
    print("student passed with 'D' grade")
else:
    print("student have to take extra class")

Enter the attendence in per % : 45
Enter the obtains marks : 89
student have to take extra class

# Loops - Repeating an action/iteraction "N" number of times
* FOR - Finite number of Iterations - how many the iteration has to occur
* WHILE - Infinite number of iterations - run as long as the condition is not fulfiled
* Break and Continue Statement

#### LOOP

In [189]:
for i in ["A","B","C","D"]:
    print(i)

A
B
C
D

In [192]:
for i in ["A","B","C","D"]:
    print(i*4)

AAAA
BBBB
CCCC
DDDD

In [200]:
for i in ["A","B","C","D"]:
    print(f"I is = {i}")
    print(i*4)

I is = A
AAAA
I is = B
BBBB
I is = C
CCCC
I is = D
DDDD

In [203]:
for i in range(1,5):
    print(i *4)

4
8
12
16

In [205]:
for i in  range(4):# Multiple value can assign at a time
    attendence = eval(input("Enter the attendence in per % : "))
    marks = eval(input("Enter the obtains marks : "))


    if attendence >= 75 and marks > 90:
         print("student passed with 'A' grade")
    elif attendence >= 75 and marks >= 85:
         print("student passed with 'B' grade")
    elif attendence >= 75 and marks > 80:
         print("student passed with 'C' grade")
    elif attendence >= 75 and (marks < 75 and marks > 35):
         print("student passed with 'D' grade")
    else:
        print("student have to take extra class")

Enter the attendence in per % : 76
Enter the obtains marks : 91
student passed with 'A' grade
Enter the attendence in per % : 76
Enter the obtains marks : 85
student passed with 'B' grade
Enter the attendence in per % : 75
Enter the obtains marks : 81
student passed with 'C' grade
Enter the attendence in per % : 75
Enter the obtains marks : 40
student passed with 'D' grade

In [5]:
for i in  range(3):# we can cheek with name of the student
    
    name = input("\n Enter the name: ")
    attendence = eval(input("Enter the attendence in per % : "))
    marks = eval(input("Enter the obtains marks : "))


    if attendence >= 75 and marks > 90:
         print(f"{name} passed with 'A' grade")
    elif attendence >= 75 and marks >= 85:
         print(f"{name} passed with 'B' grade")
    elif attendence >= 75 and marks > 80:
         print(f"{name} passed with 'C' grade")
    elif attendence >= 75 and (marks < 75 and marks > 35):
         print(f"{name} p assed with 'D' grade")
    else:
        print(f"{name} have to take extra class")

 Enter the name: Pratap Kumar Jaiswal
Enter the attendence in per % : 89
Enter the obtains marks : 94
Pratap Kumar Jaiswal passed with 'A' grade

 Enter the name: kiwi
Enter the attendence in per % : 78
Enter the obtains marks : 84
kiwi passed with 'C' grade

 Enter the name: richer
Enter the attendence in per % : 72
Enter the obtains marks : 89
richer have to take extra class

In [207]:
import random
secret_number = random.randint(10,100)

In [208]:
for i in range(10):
    guess = eval(input("\n Guess a number between 10,100: "))
    if guess == secret_number:
        print("Good guess'Genius'")
    elif guess > secret_number:
        print(f"guess lesser,{9-i} chance left")
    else:
        print(f"guess higher,{9-i} chance left")

 Guess a number between 10,100: 78
guess higher,9 chance left

 Guess a number between 10,100: 85
guess higher,8 chance left

 Guess a number between 10,100: 90
guess higher,7 chance left

 Guess a number between 10,100: 92
guess lesser,6 chance left

 Guess a number between 10,100: 91
Good guess'Genius'

 Guess a number between 10,100: 76
guess higher,4 chance left

 Guess a number between 10,100: 91
Good guess'Genius'

 Guess a number between 10,100: 91
Good guess'Genius'

 Guess a number between 10,100: 91
Good guess'Genius'

 Guess a number between 10,100: 91
Good guess'Genius'

In [10]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
for i in range(5):
    guess = eval(input("\n Guess a number between 10,100: "))
    if guess == secret_number:
        print("Good guess 'Genius' ")
        break #break statement 
    elif guess > secret_number:
        print(f"guess lesser,{9-i} chance left")
    else:
        print(f"guess higher,{9-i} chance left")

 Guess a number between 10,100: 78
guess higher,9 chance left

 Guess a number between 10,100: 85
guess higher,8 chance left

 Guess a number between 10,100: 90
guess lesser,7 chance left

 Guess a number between 10,100: 88
guess higher,6 chance left

 Guess a number between 10,100: 89
Good guess'Genius'

In [36]:
l = list(range(0,21))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [37]:
for i in l:
    print(f"{i} square of {i*i}")

0 square of,  0
1 square of,  1
2 square of,  4
3 square of,  9
4 square of,  16
5 square of,  25
6 square of,  36
7 square of,  49
8 square of,  64
9 square of,  81
10 square of,  100
11 square of,  121
12 square of,  144
13 square of,  169
14 square of,  196
15 square of,  225
16 square of,  256
17 square of,  289
18 square of,  324
19 square of,  361
20 square of,  400

In [33]:
for i in l:
    if i % 2 == 0:
        continue
    else:
        print(f"{i} square of {i*i}")

1 square of 1
3 square of 9
5 square of 25
7 square of 49
9 square of 81
11 square of 121
13 square of 169
15 square of 225
17 square of 289
19 square of 361

In [7]:
for i in "PRATAP":
    if i in ["T"]:
        for J in range(0,11):
            print(i*J)

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT
TTTTTTTT
TTTTTTTTT
TTTTTTTTTT

In [44]:
for i in "*****":
        for J in range(1,11):
            print(i*J)

*
**
***
****
*****
******
*******
********
*********
**********
*
**
***
****
*****
******
*******
********
*********
**********
*
**
***
****
*****
******
*******
********
*********
**********
*
**
***
****
*****
******
*******
********
*********
**********
*
**
***
****
*****
******
*******
********
*********
**********

In [13]:
for i in "PRATAP":
    if i in ["A","A"]:
        for J in range(0,11):
            print(i*J)
    else:
        print(i*3)

PPP
RRR

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
AAAAAAAA
AAAAAAAAA
AAAAAAAAAA
TTT

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
AAAAAAAA
AAAAAAAAA
AAAAAAAAAA
PPP

# while loop

In [50]:
for i in range(5):# range will not work in while loop
    print(i)

0
1
2
3
4

In [14]:
a = 0
while a!= 3:
    print(a)
    a += 1

0
1
2

In [15]:
print(a)

3

In [53]:
for i in ["A","B","C","D"]:
    print(f"I is = {i}")
    print(i*4)

I is = A
AAAA
I is = B
BBBB
I is = C
CCCC
I is = D
DDDD

In [58]:
a = ["A","B","C","D"]
i = 0
while len(a) != i:
    print(f"I is = {a[i]}")
    print(a[i] * 3)
    i += 1

I is = A
AAA
I is = B
BBB
I is = C
CCC
I is = D
DDD

In [17]:
import random
secret_number = random.randint(10,100)

In [18]:
for i in range(10):
    guess = eval(input("\n Guess a number between 10,100: "))
    if guess == secret_number:
        print("Good guess'Genius'")
    elif guess > secret_number:
        print(f"guess lesser,{9-i} chance left")
    else:
        print(f"guess higher,{9-i} chance left")

 Guess a number between 10,100: 78
guess higher,9 chance left

 Guess a number between 10,100: 85
guess lesser,8 chance left

 Guess a number between 10,100: 90
guess lesser,7 chance left

 Guess a number between 10,100: 87
guess lesser,6 chance left

 Guess a number between 10,100: 86
guess lesser,5 chance left

 Guess a number between 10,100: 80
guess lesser,4 chance left

 Guess a number between 10,100: 79
Good guess'Genius'

 Guess a number between 10,100: 87
guess lesser,2 chance left

 Guess a number between 10,100: 98
guess lesser,1 chance left

 Guess a number between 10,100: 90
guess lesser,0 chance left

In [63]:
new_no = 5
i = 0
while new_no != i:
    print(f"I is {i}")
    guess = eval(input("\n Guess a number between 10,100: "))
    if guess == secret_number:s
        print("Good guess'Genius'")
        break
    elif guess > secret_number:
        print(f"guess lesser,{4-i} chance left")
        i += 1

I is 0

 Guess a number between 10,100: 76
guess lesser,4 chance left
I is 1

 Guess a number between 10,100: 53
guess lesser,3 chance left
I is 2

 Guess a number between 10,100: 31
Good guess'Genius'

# user defined function

In [20]:
def welcome():
    name = input("Enter the name:")
    print(f"welcome to python programming language,{name}.")

In [21]:
welcome()

Enter the name:Pratap
welcome to python programming language,Pratap.

In [22]:
def welcome():
    
    
   
    """
    Purpose: Welcoming the user based on their Name
    ==================Args=========================
    Name: Collects the User input as name and prints it in the output
    """
    name = input("Enter the name: ")
    print(f"welcome to python programming language,{name}")

In [8]:
welcome()

Enter the name:Pratap Kumar Jaiswal
welcome to python programming language,Pratap Kumar Jaiswal.

In [ ]:
welcome    # we can cheek  and read given Argument/ document (shift+tab) button

In [23]:
print(welcome.__doc__) # double (--doc--) to cheek documentation

    Purpose: Welcoming the user based on their Name
    ==================Args=========================
    Name: Collects the User input as name and prints it in the output

In [26]:
def add(X,Y):
    print(f"added new value, {X} and {Y} is {X+Y} ")

In [27]:
add(3,4)

added new value, 3 and 4 is 7

In [28]:
add(int(input("number1: ")),int(input("number2: ")))

number1: 100
number2: 100
added new value, 100 and 100 is 200

In [29]:
a,b = (int(input("number1: ")),int(input("number2: ")))
add(a,b)

number1: 78
number2: 09
added new value, 78 and 9 is 87

In [35]:
# function with mandtory argument
# with (print) statement
def add_print(X, Y):
    print(f"added new value, {X} and {Y} is {X+Y} ")

In [36]:
add_print(19,21)

added new value, 19 and 21 is 40

In [37]:
print(add_print(12,13))

added new value, 12 and 13 is 25
None

In [24]:
def add_print(X, Y):
    print(f"added new value, {X} and {Y} is {X+Y} ")

In [38]:
# function with mandtory argument
# with (return) statement 
def add_return(X, Y):
    return(f"added new value, {X} and {Y} is {X+Y} ")

In [39]:
add_return(45,45)

'added new value, 45 and 45 is 90 '

In [40]:
print(add_print(34,56))

added new value, 34 and 56 is 90
None

# Function With Optional Argument

In [1]:
def welcome(name, case = 'Title'):
    if case == "Title":
        
          return f"Welcome to Python Programming, {name.title()}"
    elif case == "Upper":
          return f"Welcome to Python Programming, {name.upper()}"
    elif case == "Lower":
          return f"Welcome to Python Programming, {name.lower()}"

In [2]:
welcome("pratap jaiswal")

'Welcome to Python Programming, Pratap Jaiswal'

In [47]:
welcome("Pratap jaiswal", case = "Upper")

'Welcome to Python Programming, PRATAP JAISWAL'

In [48]:
welcome("Pratap jaiswal", case = "Lower")

'Welcome to Python Programming, pratap jaiswal'


## Functions with multiple arguments and multiple key word arguments

In [6]:
# (*) refer to multiple argument
def add(*nums):
    a = 0
    for i in nums:
        a += i
    return a

In [7]:
add(10,20)

30

In [8]:
add(90,90,90,90,90,90)

540

In [9]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
add(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

110

In [3]:
# (*) refer to multiple argument
def subt(*nums):
    a = 0
    for i in nums:
        a -= i
    return a

In [6]:
subt(50,100)

-150

In [14]:
def welcome(*name):
    for i in name:
        print(f"welcome to python programming,{i}")

In [19]:
welcome("pratap","jaiswal","ramesh")

welcome to python programming,pratap
welcome to python programming,jaiswal
welcome to python programming,ramesh

In [25]:
# (**) refer to multiple keyword  argument
def avg_marks (**subjects):
    a = list(subjects.values())
    print(f"{list(subjects.keys())} are the subjects chosen by the student") 
    print(f"{list(subjects.values())} are the marks scored by the student")
    print(f" {round (sum(a)/len (a), 2)} is the average mark scored by the student")

In [26]:
d = { 'Maths': 75, "Physics" : 78, "Chemistry" : 55} 
d

{'Maths': 75, 'Physics': 78, 'Chemistry': 55}

In [27]:
d.values()

dict_values([75, 78, 55])

In [28]:
avg_marks(maths=75,physics = 78, chemistry = 55)

['maths', 'physics', 'chemistry'] are the subjects chosen by the student
[75, 78, 55] are the marks scored by the student
 69.33 is the average mark scored by the student

### Armstrong number

In [ ]:
# Here are all the Armstrong numbers from 1 to 10,000:
1. 1
2. 2
3. 3
4. 4
5. 5
6. 6
7. 7
8. 8
9. 9
10. 153
11. 370
12. 371
13. 407
14. 1634
15. 8208
16. 9474

In [ ]:
# 153 is a armstrong no
#1 ** 35 ** 3 + 3 ** 3
# 1 + 125 + 27
#126+27
#153

In [2]:
num = eval(input("Please enter any number: "))
n = len(str(num))
tot = 0
for i in str(num):
    print(int(i) ** n)
    tot += int(i) ** n
if tot == num:
    print("Armstrong Number") 
else:
    print("Not an Armstrong Number")

Please enter any number: 667
216
216
343
Not an Armstrong Number

# Module 6 in python

## comprehension

In [3]:
# list 
a = [1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [4]:
for i in a:
    print(i+ 10)

11
12
13
14
15
16

In [5]:
b = []
for i in a:
    b.append(i+10)

In [6]:
b

[11, 12, 13, 14, 15, 16]

In [7]:
# Comprehensions Lists, Sets & Dict - 
[i+10 for i in a] # Desired Output, Define your condition

[11, 12, 13, 14, 15, 16]

In [8]:
a

[1, 2, 3, 4, 5, 6]

In [9]:
[j+100 for j in a] # list

[101, 102, 103, 104, 105, 106]

In [10]:
[i+10 for i in a]

[11, 12, 13, 14, 15, 16]

In [11]:
[i+10 for i in a if i%2 == 1]

[11, 13, 15]

In [12]:
# [expected_output, defining_logics_for_output] 
[i ** 2 for i in a]

[1, 4, 9, 16, 25, 36]

In [13]:
[i ** 2 for i in a if i % 2 !=0]

[1, 9, 25]

In [14]:
[i**2 for i in a if i%2 == 1]

[1, 9, 25]

In [15]:
[i**3 for i in a if i%2 != 0 else i]

SyntaxError: invalid syntax (2535078996.py, line 1)

In [16]:
[i**3 if i%2 != 0 else i for i in a ]

[1, 2, 27, 4, 125, 6]

In [19]:
[i**4 if i%2 == 1 else i for i in a ]

[1, 2, 81, 4, 625, 6]

In [20]:
[i**4 if i%2 == 1 else i**2 for i in a ]

[1, 4, 81, 16, 625, 36]

In [23]:
#set 
s = {i**4 if i%2 == 1 else i**2 for i in a}
s

{1, 4, 16, 36, 81, 625}

In [43]:
# dictonary 
d = {"subject":"python","topic":"comprehensions",'student':85}
d

{'subject': 'python', 'topic': 'comprehensions', 'student': 85}

In [26]:
b = {i for i in d.values()}
b

{85, 'comprehensions', 'python'}

In [27]:
b = {i for i in d.keys()}
b

{'student', 'subject', 'topic'}

In [30]:
type(b)

set

In [34]:
{i:j for i,j in d.items()}

{'subject': 'python', 'topic': 'comprehensions', 'student': 85}

In [46]:
{i:j for i,j in d.items() if j == 85}

{'student': 85}

In [58]:
import names # used to generate random names
import random # used to generate random values

In [61]:
student = [names.get_first_name() for i in range(5)]
marks = [random.randint(35,100) for i in range(5)]

In [64]:
[names.get_first_name() for i in range(5)]

['Tiffany', 'Elaine', 'Brandon', 'Leo', 'Estella']

In [65]:
[random.randint(35, 100) for i in range(5)]

[65, 44, 81, 75, 91]

In [66]:
print(students)

['David', 'Michael', 'Wayne', 'Bonnie', 'Nicholas']

In [67]:
print(marks)

[52, 95, 56, 37, 49]

In [68]:
{i:j for i,j in zip(students,marks)}

{'David': 52, 'Michael': 95, 'Wayne': 56, 'Bonnie': 37, 'Nicholas': 49}